/*body, html {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  padding: 0;*/
/*  margin: 0;*/
/*}*/

/*.main {*/
/*  background-color: #3d3d3d;*/
/*  width: calc(100% - 20px);*/
/*  height: calc(100% - 20px);*/
/*  padding: 10px;*/
/*  margin: 0;*/

/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.search-text-container {
  border-radius: 5px 5px 0 0;
  background-color: white;
  padding: 5px;
  height: 25px;
  width: 500px;
  overflow: auto hidden;
  cursor: text;
}

.search-text-container::-webkit-scrollbar {
  display: none;
}

.search-text-container > span {
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.search-text-container input[type=text] {
  outline: none;
  border: none;
  height: calc(100% - 4px);
  padding: 2px 5px 2px 10px;
  font-family: monospace;
}

.search-text-container input.defined {
  background-color: #3d3d3d;
  color: white;
  border-radius: 5px;
  /*text-align: center;*/
  cursor: pointer;
}

.search-text-container input.defined:hover {
  background-color: #3f5675;
}

.search-text-container input.defined.invalid-pair {
  background-color: #e70000;
}

.search-text-container input.defined.invalid-pair:hover:not(:focus) {
  background-color: #c02a2a;
}

.search-text-container input.defined:focus {
  border: 1px solid #3d3d3d;
  background-color: white;
  color: #3d3d3d;
  cursor: text;
}

.search-text-container input.defined.invalid-pair:focus {
  border: 1px solid #e70000;
  color: #e70000;
}

.search-text-container input:not(:first-child) {
  margin-left: 5px;
}

.search-suggestion-container {
  position: fixed;
  background-color: #c7c7c7;
  z-index: 100;
  border-radius: 0 0 5px 5px;
  display: none;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.search-suggestion-container.enabled {
  display: block;
}

.dummy-suggestion-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.search-suggestion-container ul {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: fit-content;
  list-style-type: none;
}

.search-suggestion-container li {
  padding: 10px 10px;
  font-family: monospace;
  cursor: pointer;
}

.search-suggestion-container li:hover {
  background-color: rgb(224, 224, 224);
}

.search-suggestion-container li:active {

}

.search-container-placeholder {
  color: rgb(117, 117, 117);
  position: fixed;
  /*visibility: hidden;*/
  margin: 0;
  padding: 0;
  top: -100px;
  left: 1000px;
  transform: scale(0%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, left 0.3s;
}

.search-container-placeholder.enabled {
  /*visibility: visible;*/
  opacity: 1;
  transform: scale(100%);
}
